label {
  display: block;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.list-item {
  float: left;
  text-align: center;
}

.list-item.follow-app2 {
  color: #111;
}

.lead-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.follow-link {
  padding-right: 16px;
  padding-left: 16px;
  color: #333;
  text-decoration: none;
}

.follow-link.follow-link-app2 {
  color: #111;
}

.list {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-field {
  height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  background-color: #fff;
  font-size: 18px;
}

.text-field:active {
  border-color: #333;
}

.text-field:focus {
  border-color: #333;
}

.lead-right {
  width: 33%;
  height: 1px;
  background-color: #e4e4e4;
}

.lead-in-title {
  font-family: Montserrat, sans-serif;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
}

.lead-in-title.lead-in-app2 {
  font-weight: 700;
}

.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.left {
  width: 55%;
  height: 100vh;
  background-image: url('../images/bg.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.left.left-podcast {
  background-image: url('../images/ipad.jpg');
  background-position: 50% 50%;
}

.paragraph {
  margin-bottom: 40px;
  color: #818181;
  line-height: 29px;
  text-align: center;
}

.paragraph.p-app2 {
  font-size: 16px;
  line-height: 24px;
}

.middle {
  padding-right: 6em;
  padding-left: 6em;
}

.lead-center {
  width: 33%;
  text-align: center;
}

.folllow-text {
  padding-right: 16px;
  padding-left: 16px;
  font-family: Montserrat, sans-serif;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.heading.heading-app2 {
  color: #111;
  font-weight: 400;
}

.form {
  position: relative;
}

.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  position: absolute;
  left: auto;
  top: 8%;
  right: 1%;
  bottom: 0%;
  height: 54px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #333;
  color: #fff;
}

.submit-button.button-app2 {
  color: #111;
  font-weight: 700;
}

.submit-button.button-app2:hover {
  background-color: #111;
  color: #fff;
}

.lead-left {
  width: 33%;
  height: 1px;
  background-color: #e4e4e4;
}

.form-block {
  display: none;
}

.body {
  font-family: Roboto, sans-serif;
}

.button {
  width: 196px;
  height: 60px;
  padding: 15px 30px;
  border-radius: 7px;
  background-color: #3c65e0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-form {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  padding: 0px;
  border-radius: 7px;
  background-color: #fff;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.center {
  text-align: center;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding: 20px 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 101, 224, 0.35)), to(rgba(101, 52, 192, 0.35)));
  background-image: linear-gradient(180deg, rgba(60, 101, 224, 0.35), rgba(101, 52, 192, 0.35));
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.contact-form-block {
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.textarea {
  margin-bottom: 30px;
}

.contact-form-heading {
  position: relative;
  padding: 40px 40px 0px;
}

.close-button-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99999;
}

.close-button {
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 101, 224, 0.3)), to(rgba(17, 59, 173, 0.6)));
  background-image: linear-gradient(180deg, rgba(60, 101, 224, 0.3), rgba(17, 59, 173, 0.6));
}

.recaptcha {
  padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .right {
    width: 100%;
    height: 60vh;
  }

  .left {
    width: 100%;
    height: 40vh;
  }

  .middle {
    padding-right: 6em;
    padding-left: 6em;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .middle {
    padding-right: 4em;
    padding-left: 4em;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .wrapper {
    height: auto;
  }

  .list-item {
    margin-bottom: 16px;
  }

  .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .lead-right {
    width: 25%;
  }

  .right {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .left {
    height: 200px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .middle {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-right: 1em;
    padding-left: 1em;
  }

  .lead-center {
    width: 50%;
  }

  .folllow-text {
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading {
    font-size: 28px;
    line-height: 38px;
  }

  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .submit-button {
    font-size: 14px;
    line-height: 19px;
  }

  .lead-left {
    width: 25%;
  }

  .modal-wrapper {
    z-index: 9000;
  }

  .close-button {
    line-height: 32px;
  }
}

#w-node-c47929bd2e23-8c318409 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-fc44f25e0833-4df14fcf {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-c47929bd2e13-8c318409 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c47929bd2e17-8c318409 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c47929bd2e1b-8c318409 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c47929bd2e1f-8c318409 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fc44f25e0833-4df14fcf {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

